// 全局css

// 背景色
$she-bg: #f5f6f9;
// 前景色
$she-fg: #ffffff;

$she-primary: #004ac5;
$she-border:#dddddd;

// 群体就医、虚假住院、刷空卡、刷小卡的颜色
$yujing: #c11f48, #f87e4b,#ffcc60,#d84e5e;

// 字体大小
$f-small: 10px;
$sub-title: 0.8125rem;