// 全局css
@import url(//db.onlinewebfonts.com/c/005a0a44732a2481862cdc95182ed8dd?family=LcdD);

// 背景色
$she-bg: #f5f6f9;
// 前景色
$she-fg: #ffffff;
$black: #efefef;

$she-primary: #2061c8;
$she-border:#dddddd;
$she-c: #0f63e3;
$darkblue: #3365bb;
$she-grey: #5c5b5b;
// 群体就医、虚假住院、刷空卡、刷小卡的颜色
$yujing: #c11f48, #f87e4b,#ffcc60,#d84e5e;

// 机构画像
$text: #99aabb;

// 字体大小
$f-small: 12px;
$sub-title: 0.8125rem;
$title: 1.25rem;
$chart-title: 1rem;

.bar-container {
  display: grid;
  grid-template-columns: auto 70%;
  align-items: center;
  margin: 0 2px;

  p {
    margin: 0;
  }
}

.date-input {
  font-size: 10px;
}

tr {
  cursor: pointer;
}
tr.v-data-table__selected {
  background: linear-gradient(to right, #cee6ff, #f5f7fb)!important;
  border-left: 2px solid #024ec4!important;
}

.v-menu__content {
  box-shadow: 0px 2px 3px darken($black, 5%), 2px 2px 6px darken($black, 2%)!important;
}

body {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Estilos barra (thumb) de scroll */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  ::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track:hover, 
  ::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
}

html {
  font-size: 1vw!important;
}

.s-container {
  // 表格
  tr {
    font-size: 0.75rem;
  }

  th {
    font-size: 0.875rem;
  }
}


// 饼图的图例
.radio-group {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  $accent-color:#5d77ff;
  $primary-color: #fff;

  .radio {
    flex: 0 0 33%;
  }

  .radio-btn {
      position: absolute;
      opacity: 0;
      visibility: hidden;
  }

  .label {
      display: flex;
      align-items: center;
      padding: 0.125rem 0;
      font-size: $f-small;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.25s linear;
  }

  .label span {
      display: inline-block;
      content: "";
      height: 0.9rem;
      width: 0.9rem;
      margin-right: 0.625rem;
      border: 0.2rem solid $primary-color;
      border-radius: 50%;
      transition: all 0.25s linear;
      background: $accent-color;
      box-shadow: 0 0 5px 3px lighten($color: #d7ddff, $amount: 0.7);
  }
}

.expand-content {
  .label span {
    box-shadow: 0 0 2px 1px lighten($color: #d7ddff, $amount: 0.7);
  }
}

.s-container {
  .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
    min-width: 1vw;
  }
}

// 数据结果和筛选条件
.she-title {
  font-family:PingFangSC, sans-serif;
  font-size:1rem;
  color:#262626;
  letter-spacing:0;
  font-weight: 800;
}

.text-margin {
  margin: 0.8rem 0!important;
}


p.profile-title {
  font-size: 1.2rem;
  font-weight: 800;
}

// 重置和查询按钮
.s-btn-container {
  margin: 0 5px;
  display: flex;

  button {
    padding: 3px 20px;
    border: 1px solid #3365ba;
    letter-spacing: 4px;
    margin: 5px;
    outline:none;
    height: 30px;
    width: 90px;
    text-align: center;
    color: #3365ba;
    font-size: 0.8rem;
  }
  button:nth-child(2) {
    background: #3365ba;
    color: #fff;
  }
}